Node-Red
[{"id":"8a4990f0.a016d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2e728d5d.921852","type":"function","z":"8a4990f0.a016d","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\n//following are required to receive a token\nvar apikey=\"ljR-enyxGUkzCw9xFhlCrZl2uVaVEjZht4aH4svVyxLq\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["a05d0d69.025ca"]]},{"id":"ef867220.47b09","type":"http request","z":"8a4990f0.a016d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f6bcad98-e36e-40d2-bc1c-f41034f7dc4c/deployments/6ae6651c-68e3-474a-8ecf-ea0087c6a9f4/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["26d2fb94.1981e4","9bc602.e90d1a"]]},{"id":"efe9605c.4c166","type":"debug","z":"8a4990f0.a016d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"9bc602.e90d1a","type":"function","z":"8a4990f0.a016d","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["efe9605c.4c166","7a581dd2.3d9bd4"]]},{"id":"26d2fb94.1981e4","type":"debug","z":"8a4990f0.a016d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"32dea029.fc3e8","type":"function","z":"8a4990f0.a016d","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"f6bcad98-e36e-40d2-bc1c-f41034f7dc4c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload ={\"fields\": ['Year', 'Status', 'Adult Mortality', 'infant deaths',\n       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ','Polio','Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'\n      ], \"values\": [[b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["ef867220.47b09"]]},{"id":"a05d0d69.025ca","type":"http request","z":"8a4990f0.a016d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["32dea029.fc3e8"]]},{"id":"7a581dd2.3d9bd4","type":"ui_text","z":"8a4990f0.a016d","group":"8102ecf9.778c5","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"e2f5f271.fe29b","type":"ui_form","z":"8a4990f0.a016d","name":"","label":"","group":"8102ecf9.778c5","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"b","type":"text","required":true,"rows":null},{"label":"Status\t","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality\t","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths\t","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":" BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":100,"wires":[["2e728d5d.921852"]]},{"id":"8102ecf9.778c5","type":"ui_group","z":"","name":"Default","tab":"43af6edd.19009","order":1,"disp":true,"width":"6","collapse":false},{"id":"43af6edd.19009","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
